html, body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.slide {
  background-color: white;
}

.slide-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  text-align: center;
  width: 100vw;
}

.hidden {
  display: none;
}

.controls {
  bottom: 0.5rem;
  position: fixed;
}

.arrow {
  width: 0;
  height: 0;
  border: 30px solid #333;
  float: left;
  margin-right: 30px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prev {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-left-width: 0;
  border-right-width: 50px;
}

.next {
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-width: 50px;
  border-right-width: 0;
}

